nz-header {
    background: #fff;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

nz-footer {
    text-align: center;
}

.layout-root{
    height: 100%;
}

.trigger {
    font-size: 18px;
    line-height: 64px;
    /* padding: 0 10px; */
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #1890ff;
}

.welcome-title{
    margin-left: 10px;
}

.header-avatar{
    margin-right: 20px;
}

.logout-btn{
    width: 100%;
}