<nz-layout class="layout-root">
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <ul nz-menu nzTheme="dark" nzMode="inline" (nzClick)='onMenuClick'>
            <!-- 递归生成菜单 -->
            <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menus }"></ng-container>
            <ng-template #menuTpl let-menus>
                <ng-container *ngFor="let route of menus">
                  <li
                    *ngIf="!route.children && route.isShow"
                    nz-menu-item
                    [nzPaddingLeft]="route.meta.level * 24"
                    nzMatchRouter
                  >
                    <i nz-icon [nzType]="route.meta.icon" *ngIf="route.meta.icon"></i>
                    <span [routerLink]="route.routeLink">{{ route.meta.title }}</span>
                    <!-- <a class="menu-title" [routerLink]="route.path">{{ route.meta.title }}</a> -->
                  </li>
                  <li
                    *ngIf="route.children"
                    nz-submenu
                    [nzPaddingLeft]="route.meta.level * 24"
                    [nzTitle]="route.meta.title"
                    [nzIcon]="route.meta.icon"
                    nzMatchRouter
                  >
                    <ul>
                      <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: route.children }"></ng-container>
                    </ul>
                  </li>
                </ng-container>
              </ng-template>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
          <div>
              <i
              class="trigger"
              nz-icon
              [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
              (click)="isCollapsed = !isCollapsed"
            ></i>
            <span class="welcome-title">Welcome To Angular Ant Template</span>
          </div>
          <ng-template #contentTemplate>
            <div>
              <button class="logout-btn" nz-button nzDanger nzType="primary" (click)='logout()'>Logout</button>
            </div>
          </ng-template>
          <nz-avatar class="header-avatar" nz-button nz-popover nzText="G" nzPopoverTitle="Gavin" [nzPopoverContent]="contentTemplate" nzPopoverTrigger="hover" nzPopoverPlacement="bottom"></nz-avatar>
        </nz-header>
        <nz-content>
            <router-outlet></router-outlet>
        </nz-content>
        <nz-footer>Angular Antd Template ©2021 Implement By Gavin</nz-footer>
    </nz-layout>
</nz-layout>
